.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.custom-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.dashboard-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.dashboard-table {
    width: 80%;
    margin: auto;
}