/* ForgotPassword.css */

.forgot-password-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-form-col {
    padding: 40px;
    background-color: #ffffffa5;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    height: auto;
}

.forgot-password-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1rem;
}

.forgot-password-button {
    width: 100%;
}

.forgot-password-button:hover {
    background-color: #0056b3;
}